[Desktop Entry]
Name=PomeDefaultWallpaper
X-KDE-PluginInfo-Name=PomeDefaultWallpaper
X-KDE-PluginInfo-Author=UuBroot
X-KDE-PluginInfo-Email=lolylyt@gmail.com
X-KDE-PluginInfo-License=GPLv3
